DB_SERVER=tu_servidor_sql
DB_PORT=1433
DB_DATABASE=DW_GrupoTdm
DB_USERNAME=sa
DB_PASSWORD=tu_contraseña
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET_KEY=secret_key_temporal_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

API_TITLE=DW GrupoTDM API
API_VERSION=1.0.0
API_HOST=0.0.0.0
API_PORT=8000
ALLOWED_HOSTS=localhost,127.0.0.1
ENVIRONMENT=development
ENABLE_EXPORT=true
